.tab{
    border-bottom: 2px solid #E4E5E7;
    border-top: 2px solid #E4E5E7;
    padding: 0.8rem 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-radius: 10px;
    text-align: left;
    background-color: rgb(255 255 255/41%);
    backdrop-filter: blur(10px);
}